.themeSlider {
  visibility: hidden;
}

.themeSlider-label {
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 4rem;
  height: 1.3rem;
  border-radius: 1rem;
  position: relative;
}

.themeSlider-button {
  position: absolute;
  top: 0.5%;
  right: 0.5%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: 0.5s;
  background-size: contain;
  border: 2px solid black;
  filter: sepia(60%);
}
